h1{
	color: red;
	font-size: 40px
}
del{
	font-style:italic;
}
div h1{
	font-style:italic;
}
body{	
	background-color:lightpink;
}
h3{
	color:rgb(26, 83, 119)
}
strong{
	color:rgb(231, 56, 25);
}